<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Export: {{ $collection->title() }}</title>
    <style>
        .page-break {
            page-break-after: always;
        }
        .bold {
            font-weight: 700;
        }
    </style>
</head>

<body>
    {{entries}}
        {{ if $loop->first }}
            <h1>{{ $collection->title() }}</h1>
        {{ /if }}
        {{ if $loop->index > 0 }}
            <div class="page-break"></div>
        {{ /if }}
        
    {{/entries}}
</body>

</html>